* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  line-height: 1.6;
}

header {
  background: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 150px;
  font-size: large;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  font-size: large;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

.project-card {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  border-left: 5px solid #0077cc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
}

i {
  font-size: 24px;
  margin: 0 10px;
  color: #0077cc;
}
a:hover {
  background-color: white;
  color: black;
}
a:active {
  background-color: black;
  color: white;
}
p {
  font-size: large;
}
.logo {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 150px;
  width: 150px;
  z-index: 1000;
  border-radius: 100%;
}
.photo {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 150px;
  width: 150px;
  z-index: 1000;
  border-radius: 100%;
}